
@font-face {
    font-family: 'FiraSans Regular';
    src: url('../resources/fonts/FiraSans-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans Bold';
    src: url('../resources/fonts/FiraSans-Bold.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'FiraSans SemiBold';
    src: url('../resources/fonts/FiraSans-SemiBold.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'FiraSans Light';
    src: url('../resources/fonts/FiraSans-Light.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'FiraSans ExtraBold';
    src: url('../resources/fonts/FiraSans-ExtraBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans ExtraBoldItalic';
    src: url('../resources/fonts/FiraSans-ExtraBoldItalic.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../resources/fonts/Bebas Neue Book.ttf');
    font-style: normal;
}
