@import 'mixin'; // TODO:

body,
html {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Open Sans Regular";
  color: #000;
  font-size: 16px;
}

.flex {
  display: flex;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  @include phone {
    max-width: 768px;
    max-width: 100%;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.site__nav {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
}
.header {
  @include phone {
    background-image: linear-gradient(45deg, #869791 0%, #d5d5d5 99%, #d6d6d6 100%);
  };
  @include tablet {
    background-image: linear-gradient(45deg, #869791 0%, #d5d5d5 99%, #d6d6d6 100%);
  };
}
.nav {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 580px;
  font-size: 0.875em;
  font-family: "FiraSans Light";
  @include tablet {
    display: none;
    min-width: 320px;
    max-width: 100%;
  }
  @include phone {
    display: none;
    min-width: 320px;
    max-width: 100%;
  }

  &__header {
    display: none;
    @include tablet {
      display: block;
      order: 3;
    }
    @include phone {
      display: block;
      order: 3;
    }
  }

  & a {
    transition: all 0.4s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.nav.show {
  @include tablet {
    display: flex;
    position: absolute;
    top: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(45deg, #869791 0%, #d5d5d5 99%, #d6d6d6 100%);
    min-height: 200px;
    width: 100%;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include phone {
    display: flex;
    position: absolute;
    top: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(45deg, #869791 0%, #d5d5d5 99%, #d6d6d6 100%);
    min-height: 200px;
    width: 100%;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.navbar-toggle {
  position: relative;
  background-color: transparent;
  width: 25px;
  height: 20px;
  cursor: pointer;

  &:hover {
    opacity: .7;
    transition: all 0.4s ease-in-out;

  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 0.8;
    left: 0;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 20px;
    }
  }
}

.logo {
  font-size: 2em;
  font-family: "Bebas Neue";
}
.header .logo {
  @include phone_xs {
    width: 100%;
    text-align: right;
  }
}

.phone {
  font-size: 1.5em;
  font-family: "FiraSans Medium";
  line-height: 1.417;

  &:hover {
    transition: all 0.4s ease-in-out;
    opacity: 0.7;
  }
  @include tablet {
    order: 2;
  }
  @include phone {
    order: 3;
  }
  @include phone_xs {
    font-size: 1.2em;
  }
}

.header {
  position: relative;

  .container {
    position: relative;
  }

  .site__nav {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 5;
    padding-left: 15px;
    padding-right: 15px;
    @include tablet {
      width: 100%;
      height: 70px;
    }
    @include phone {
      height: 70px;
    }
    @include phone_xs {
      top:15px;
      flex-flow: row wrap;
    }

  }

  &__content {
    position: absolute;
    top: 62%;
    left: 34%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    color: #fff;
    @include tablet {
      position: static;
      padding-top: 100px;
      padding-bottom: 30px;
      transform: none;
    }
    @include phone {
      position: static;
      transform: none;
      width: 100%;
      padding-top: 80px;
      padding-bottom: 30px;
      transform: none;
      padding-left: 20px;
    }
  }

  h1 {
    font-size: 2.6em;
    font-family: "FiraSans SemiBold";
    line-height: 1.458;
    letter-spacing: 0.05em;
    @include phone {
      /*                font-size: 1.5em;;*/
    }
  }

  p {
    font-family: "Open Sans Light";
    font-size: 1.6em;
    padding-top: 20px;
  }

  .bg-xs {
    position: relative;
    display: none;
    overflow-x: hidden;
    z-index: 1;
    top: -70px;
    @include tablet {
      display: block;
      height: 100%;
    }
    @include phone {
      display: block;
      height: 100%;
    }
  }
}

.top-slider {
  position: relative;

  & .container {
    position: static;
  }

  &_wr {
    @include tablet {
      display: none;
    }
    @include phone {
      display: none;
    }
  }

  .slider-nav {
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    @include tablet {
      display: none;
    }
    @include phone {
      display: none;
    }
  }

  .slider-next,
  .slider-prev {
    width: 20px;
    height: 25px;
    cursor: pointer;
  }

  .slider-next {
    background: url("../resources/images/icons/slider-next.png") no-repeat;
    right: 0;
  }

  .slider-prev {
    background: url("../resources/images/icons/slider-rev.png") no-repeat;
    left: 0;
  }

  ul.slick-dots {
    padding: 0;
    display: flex;
    font-size: 0;
  }

  .slick-dots {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-around;
    align-items: center;

    li {
      width: 22px;
      height: 11px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: relative;
    }

    li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 11px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &:before {
        content: '';
        width: 9px;
        height: 9px;
        background-color: #8d8b8b;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .slick-active button::after {
      content: "";
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      border-radius: 50%;
      border: 1px solid #8d8b8b;
    }
  }
}
@-moz-document url-prefix() {
  .top-slider .slick-dots .slick-active button::after{
     left : -1px;
  }
}
// TODO: owl

.owl {
  position: relative;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  @include tablet {
    display: none;
  }
  @include phone {
    display: none;
  }

  &_nav {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &_dots {
    display: none;
    position: absolute;
    width: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    outline: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .owl-next,
  .owl-prev {
    width: 15px;
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    margin: auto;
    cursor: pointer;
    outline: none;
  }

  .owl-next {
    background: url("../resources/images/icons/slider-next.png") no-repeat;
    right: 0;
  }

  .owl-prev {
    background: url("../resources/images/icons/slider-rev.png") no-repeat;
    left: 0;
  }

  .owl-dot {
    width: 22px;
    height: 11px;
    background-color: transparent;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    outline: none;

    &.active {
      & span:after {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        top: -4px;
        left: -4px;
        border-radius: 50%;
      }
    }
  }

  .owl-dot span {
    width: 9px;
    height: 9px;
    background-color: rgba(141, 139, 139, 1);
    border-radius: 50%;
    display: block;
    position: relative;
  }
}

.btn {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  height: 50px;
  font-family: "FiraSans Bold";
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  &_calc {
    width: 200px;
    @include tablet {
      margin-top: 20px;
    }
    @include phone {
      margin-top: 20px;
    }
  }

  &_submit {
    width: 300px;
    box-shadow: 0 0 49px 10px rgba(36, 125, 236, .27);

    @include phone_xs {
      width: 100%;
      margin: 0 auto;
    }
  }

  &_buy {
    width: 165px;
  }

  &_close {
    border: none;
    border-radius: 0;
    background-color: transparent;
    font-size: 40px;
    color: #000;
    outline: none;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.owl-carousel .owl-nav button {
  transition: all 0.4s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.section-header {
  font-family: "FiraSans SemiBold";
  font-size: 3.25em;
  color: #131313;
  padding-bottom: 30px;
  padding-top: 80px;

  span {
    border-bottom: 3px solid #dddad6;
  }
  @include phone {
    text-align: center;
    font-size: 2.5em;
  }
}

.section-benefits {
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  margin-bottom: 90px;
  @include phone {
    flex-flow: column nowrap;
  }
}
// TODO: padding ie
.benefits__item {
  flex: 1 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 245px;
  font-family: "FiraSans Bold";
  font-size: 1.38em;
  color: #202020;
  padding-top: 25px;
  padding-bottom: 25px;

  &:not(:last-child) {
    border-right: 1px solid #d5d5d5;
    @include phone {
      border-right-color: transparent;
    }
  }

  p {
    padding-top: 20px;
    text-align: center;
  }

  img {
    max-width: 85px;
  }
}

.section-about {
  p {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1.25em;
    color: #131313;
    line-height: 1.7;
    padding-bottom: 80px;
  }
}

.section-work {
  flex-flow: row wrap;
  flex: 1 auto;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;

  &__wr {
    flex: 1 0;
    margin-left: 15px;
    margin-right: 15px;
    @include tablet {
      flex: 1 45%;
      padding-bottom: 20px;
    }
    @include phone {
      flex: 1 45%;
      padding-bottom: 20px;
    }
  }

  &__item {
    min-height: 160px;
    box-shadow: 0 0 49px 10px rgba(149, 138, 122, .1);
    padding-right: 20px;
    padding-bottom: 60px;
  }
}

.work {
  &_lg {
    flex: 1 100%;
    flex-flow: row nowrap;
    margin-bottom: 35px;
    position: relative;

    & .work_fix {
      position: absolute;
      width: 67%;
      bottom: 0;
      max-width: 750px;
      @include tablet {
        position: static;
        flex: 1 45%;
        width: auto;
      }
      @include phone {
        flex: 1 45%;
        position: static;
        width: auto;
      }
    }

    .section-work__item {
      padding-top: 25px;
      padding-left: 25px;
      padding-bottom: 0;
    }
  }

  &_num.lg {
    font-family: "FiraSans ExtraBoldItalic";
    font-size: 5em;
    color: rgba(32, 32, 32, 0.2);
    padding-right: 10px;
    padding-left: 5px;
    @include phone {
      font-size: 3em;
    }
  }

  &_num.sm {
    font-family: "FiraSans ExtraBoldItalic";
    font-size: 3.22em;
    line-height: 1;
    color: rgba(32, 32, 32, 0.2);
    padding-top: 10px;
    padding-left: 30px;
  }

  &_text-wr {
    padding-left: 30px;
    max-width: 920px;
    line-height: 1.8;
  }

  &_title {
    font-family: "FiraSans Bold";
    font-size: 1.375em;
    color: #202020;
  }
}

.services {
  .slider-2-wrapper {
    position: relative;
  }

  & .slider-nav {
    position: absolute;
    right: 0;
    top: -85px;

    @include tablet {
      display: none;
    }
    @include phone {
      display: none;
    }
  }

  .slick-initialized .slick-slide {
    display: flex;
  }

  .slider-next,
  .slider-prev {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 100%;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
  }

  .section-header {
    padding-top: 45px;
  }

  &_slider-block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1100px) {
      justify-content: space-evenly;
    }
  }

  &_slider-item {
    position: relative;
    margin-bottom: 40px;
    max-height: 356px;

    &.sm {
      max-width: 356px;
    }
    @include phone {
      padding-bottom: 15px;
    }
    @media (max-width: 1200px) {
      &.lg {
        order: 3;
      }
    }

    img {
      max-width: 100%;
    }
  }

  &_slider-text {
    position: absolute;
    bottom: 25px;
    left: 30px;
    font-size: 0.875em;
    font-family: "FiraSans Light";
    line-height: 1.4em;
    color: #fff;
  }

  &_slider-header {
    font-family: "FiraSans SemiBold";
    font-size: 1.125em;
  }

  &_slider-price {
    font-family: "FiraSans ExtraBold";
    font-size: 1.875em;
    line-height: 1.1em;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.section-doc {
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "FiraSans Regular";
  padding-bottom: 170px;
  @include phone {
    flex-wrap: wrap;
  }

  &_left {
    width: 410px;
    max-width: 100%;
    @include phone {
      padding-bottom: 30px;
    }

    .owl-nav {
      position: absolute;
      right: 0;
      bottom: -60px;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
      position: relative;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 100%;
      margin-left: 10px;
      outline: none;
    }
  }
}
/*slider*/
.section-doc .slider-next,
.section-doc .slider-prev,
.services .slider-next,
.services .slider-prev {
  &:before {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: '';
    width: 19px;
    height: 14px;
  }
}

.section-doc .slider-next:before,
.services .slider-next:before {
  background: url("../resources/images/icons/right-arrow.png") no-repeat;
}

.odered__list {
  list-style-type: none;
  counter-reset: list;
  padding-left: 15px;
  line-height: 1.8;
  padding-bottom: 10px;

  .doc__list {
    padding-left: 10px;

    &::before {
      counter-increment: list;
      content: counter(list) "";
      border: none;
    }

    span::before {
      position: absolute;
      content: '';
      top: 0;
      left: -5px;
      width: 12px;
      height: 50%;
      border-bottom: 1px solid #000;
    }
  }
}
// TODO:

.doc-slider__wr {
  position: relative;
  width: 100%;
  box-shadow: 0 0 49px 10px rgba(212, 209, 205, .3);

  & .slider-nav {
    position: absolute;
    right: 0;
    bottom: -60px;

    @include tablet {
      display: none;
    }
    @include phone {
      display: none;
    }
  }

  .slick-initialized .slick-slide {
    display: flex;
  }

  .slider-next,
  .slider-prev {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 100%;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
  }
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
}

.slider_descr {
  p {
    padding-top: 15px;
    padding-bottom: 5px;
    font-family: "FiraSans SemiBold";
    font-size: 1.125em;
  }

  a {
    color: #0099ff;
    font-size: 0.875em;

    &:hover {
      transition: all 0.4s ease-in-out;
      opacity: 0.7;
    }
  }
}

.doc {
  &__info {
    padding-left: 50px;
    width: 63%;
    font-size: 0.875em;
    line-height: 1.7;
    @include phone {
      width: 100%;
      padding-left: 0;
    }

    .first-line {
      flex-flow: row wrap;
      justify-content: space-between;
      padding-bottom: 10px;
      align-items: baseline;
      line-height: 1;

      a {
        font-family: "FiraSans SemiBold";
        font-size: 1.143em;
        color: #0099ff;
        border-bottom: 1px solid rgba(0, 153, 255, .2);

        &:hover {
          transition: all 0.4s ease-in-out;
          opacity: 0.7;
        }
      }
    }

    ul {
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    .pay__list {
      padding-top: 0;
      padding-left: 10px;
      line-height: 1.8;
    }
  }

  &__title {
    font-family: "FiraSans SemiBold";
    font-size: 1.575em;
    color: #131313;
    @include phone {
      flex: 1 100%;
    }
  }

  &__title2 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &__list {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: -15px;
      width: 12px;
      height: 50%;
      border-bottom: 1px solid #000;
    }
  }
}

.pay__list {
  .doc__list::before {
    left: -10px;
    width: 6px;
  }

  span {
    padding-right: 10px;
  }

  span::after {
    position: absolute;
    content: '';
    top: 0;
    left: 10px;
    width: 6px;
    height: 50%;
    border-bottom: 1px solid #000;
  }
}

.owl-nav {
  position: absolute;
}

.form {
  flex-direction: column;
  justify-content: space-around;
  height: 340px;
  padding: 25px 25px 35px;

  &_application {
    position: absolute;
    max-width: 360px;
    height: 340px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    margin: auto;

    @include phone_xs {
      width: 90vw;
      margin: 0 auto;
      padding: 15px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      box-shadow: -14px -15px 220px -36px rgba(141,122,93,0.89);
    }

    p:last-child {
      font-size: 0.9em;
      color: #959595;
      text-align: center;
      background: linear-gradient(116deg, #877357 , #cdb189);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__order {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    max-width: 360px;
    height: 360px;
    background-color: #fff;
    z-index: 100;

    & .check-block__label {
      position: relative;
      padding-left: 30px;
      color: #959595;
      font-size: 0.875em;
      font-family: Open Sans;
      font-weight: 300;
      margin-top: 20px;

      input {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
      }

      .checkmark {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        display: block;
        border: 1px solid #dcdcc8;
        cursor: pointer;
      }

      input:checked+.checkmark:after {
        content: '';
        position: absolute;
        display: block;
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid #959595;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }

    .btn {
      &_close-order {
        position: absolute;
        right: -20px;
        top: -25px;
        width: 20px;
        height: 20px;
        opacity: 0.7;
        background-color: transparent;
        border: none;
        box-shadow: 0 0;
        background-image: none;
        outline: none;
        border-radius: 0;

        &:hover {
          opacity: 1;
        }

        &:after,
        &:before {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 22px;
          width: 1px;
          background-color: #fff;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__header {
    font-family: "FiraSans SemiBold";
    font-size: 1.125em;
  }

  &_footer {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-family: "FiraSans Bold";
    padding-top: 5px;

    .icon {
      margin-right: 5px;
    }
  }
}

.submit {
  &_name,
  &_tel {
    width: 100%;
    height: 50px;
    padding-left: 15px;
    border-radius: 5px;
  }

  &_name {
    font-family: "Open Sans SemiBold";
    font-size: 0.9em;
    color: #232323;
    background-color: #fff;
    box-shadow: 0 0 49px 10px rgba(0, 0, 0, .05);
  }

  &_tel {
    font-family: "Open Sans Regular";
    color: #626262;
    border: 1px solid #dcdcdc;
  }
}

#map {
  width: 100%;
  height: 520px;
}

.map {
  position: relative;
  width: 100%;

  & > .flex {
    justify-content: flex-end;
  }
}

.footer {
  .site__nav {
    min-height: 100px;
    @include phone {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
    }
  }

  .nav {
    @include tablet {
      display: flex;

      & a {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    @include phone {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 2;
    }
  }

  &_wr {
    width: 100%;
    background-color: #242424;
    min-height: 105px;
  }

  &_dev-wr {
    width: 100%;
    background-color: #2e2e2e;
    min-height: 70px;
  }

  &_dev {
    min-height: 70px;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    color: #6e6e6e;
    font-family: Open Sans Regular;
    font-size: 0.875em;
    line-height: 2;

    .copyrite {
      & span:first-child {
        text-transform: uppercase;
      }

      & span:last-child {
        color: #fff;

        a {
          color: #0099ff;

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}
//icon

.icon {
  display: block;
}

.icon.padlock {
  background: url("../resources/images/icons/padlock.png") no-repeat;
  width: 13px;
  height: 19px;
}
//radio

.color-theme {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  max-width: 500px;
  height: 600px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 100;
  background-color: #fff;
  padding: 0;
  @include phone {
    height: 700px;
  };
  @include phone_xs {
    height: 750px;
  };

  &_btn {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    border: 1px solid #000;
    z-index: 100;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: url("../resources/images/icons/cogwheel.png") center center no-repeat;
      width: 100%;
      height: 100%;
      background-color: #000;
      border: 1px solid #000;
    }
  }

  h4 {
    padding-left: 20px;
  }

  &__item {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
  }

  &__label {
    position: relative;
    display: block;
    cursor: pointer;
    opacity: 0.8;
    padding-bottom: 20px;

    &[title="blue"] {
      background-color: $blue;
    }

    &[title="orange"] {
      background-color: $orange;
    }

    &[title="green"] {
      background-color: $green;
    }

    &[title="violet"] {
      background-color: $violet;
    }

    &[title="wine"] {
      background-color: $wine;
    }

    &[title="red"] {
      background-color: $red;
    }

    &:hover {
      opacity: 1;
    }

    &.lable {
      &_block {
        width: 50px;
        height: 30px;
        margin-right: 15px;
        margin-bottom: 15px;
      }

      &_radio {
        padding-right: 20px;
        padding-left: 30px;

        input {
          position: absolute;
          opacity: 0;
        }

        input:checked + .round:before {
          background-color: #000;
          box-shadow: 0 0 0 3px #fff, 0 0 0 7px #000;
        }
      }
    }

    .block {
      width: 50px;
      height: 30px;
      border-radius: 3px;
      background-color: inherit;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }

    & input:checked +.block {
      content: '';
      position: absolute;
      width: 50px;
      height: 30px;
      display: block;
      border: 3px solid #42506d;
    }

    .round {
      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 10px;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background-color: #a29c9c;
        box-shadow: 0 0 0 3px #fff, 0 0 0 7px #a29c9c;
      }
    }
  }

  &__header {
    width: 100%;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    background-color: #c4d8f1;
  }

  .btn_submit {
    font-size: 1.3em;
    margin: 25px auto 0;
  }

  .btn_close {
    background-color: transparent;
    border: none;
    box-shadow: 0 0;
    background-image: none;
  }
}

.shadow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  overflow-y: hidden;
  z-index: 5;
}

.owl-carousel.owl-loaded {
  &.hidden {
    display: none;
  }
}

div[data-type-company='sale'] {
  & .services_slider-header {
    text-transform: uppercase;
  }
}

.icon_svg {
  width: 85px;
  height: 85px;
}
