/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-desktop-blue {
  background-image: url(dist/resources/images/sprite-blue.png);
  background-position: 0px 0px;
  width: 120px;
  height: 80px;
}
.icon-left-arrow-blue {
  background-image: url(dist/resources/images/sprite-blue.png);
  background-position: -120px -83px;
  width: 19px;
  height: 14px;
}
.icon-money-blue {
  background-image: url(dist/resources/images/sprite-blue.png);
  background-position: 0px -80px;
  width: 94px;
  height: 92px;
}
.icon-wallet-blue {
  background-image: url(dist/resources/images/sprite-blue.png);
  background-position: -120px 0px;
  width: 83px;
  height: 83px;
}
