$green:  #25a00d;

.bg-about {
  background-color: #f1f5f0;
}
.btn {

  background-color: $green;
  border: 1px solid $green;
  box-shadow: 0 0 49px 10px rgba(15, 177, 34, .27), 0 3px 0 #186708;

  &_submit {
    background-color: $green;
  }
}

.services .slider-next,
.services .slider-prev,
.section-doc .slider-next,
.section-doc .slider-prev {
  border: 1px solid $green;
}
.slider-next {
  background-image: linear-gradient(116deg, rgb(17,87,11) 0%, rgb(22,120,14) 100%);
}
.slider-prev:before {
  background: url("../resources/images/sprite-green.png") no-repeat;
background-position: -120px -83px;
}
.top-slider .slick-dots li.slick-active button::before{
  background-color: $green;
}
.top-slider .slick-dots li.slick-active button::after {
  border-color: $green;
}

.icon_svg {
  fill: $green;
}
