$orange:  #f7a32c;

.bg-about {
  background-color: #f2efea;
}
.btn {
  background-color: $orange;
  border: 1px solid $orange;
  box-shadow: 0 0 49px 10px rgba(247, 163, 44, .27), 0 3px 0 #8e5e1a;
  color: #000;

  &_submit {
    background-color: $orange;
  }
}
.services .slider-next,
.services .slider-prev,
.section-doc .slider-next,
.section-doc .slider-prev {
  border: 1px solid $orange;
}
.slider-next {
  background-image: linear-gradient(116deg, rgb(135,115,87) 0%, rgb(205,177,137) 100%);
}
.slider-prev .arrow {
  fill: $orange;
}
.top-slider .slick-dots li.slick-active button::before{
  background-color: $orange;
}
.top-slider .slick-dots li.slick-active button::after {
  border-color: $orange;
}
.icon_svg {
  fill: $orange;
}
