$orange:  #f7a32c;

.bg-about {
  background-color: #f2efea;
}
.btn {
  background-color: $orange;
  border: 1px solid $orange;
  box-shadow: 0 0 49px 10px rgba(247, 163, 44, .27), 0 3px 0 #8e5e1a;
  color: #000;

  &_submit {
    background-color: $orange;
  }
}
.container .owl-carousel .owl-nav button.owl-prev:before {
  background: url("../resources/images/sprite-orange.png") no-repeat;
  background-position: -433px -228px;
}
.container .owl-carousel .owl-nav button.owl-next,
.container .owl-carousel .owl-nav button.owl-prev {
  border: 1px solid #b5976b;
}

.container .owl-carousel .owl-nav button.owl-next {
  background-image: linear-gradient(116deg, rgb(135,115,87) 0%, rgb(205,177,137) 100%);
}
.owl_dots .active{
  & span {
    background-color: $orange;
  }

  & span:after {
    border: 1px solid $orange;
  }
}
.icon_svg {
  fill: $orange;
}
