$orange:  #f7a32c;

.bg-about {
  background-color: #f2efea;
}
.btn {
  background-color: $orange;
  border: 1px solid $orange;
  box-shadow: 0 0 49px 10px rgba(247, 163, 44, .27), 0 3px 0 #8e5e1a;
  color: #000;

  &_submit {
    background-color: $orange;
  }
}
.container .owl-carousel .owl-nav button.owl-prev:before {
  background: url("../resources/images/sprite-orange.png") no-repeat;
  background-position: -433px -228px;
}
.container .owl-carousel .owl-nav button.owl-next,
.container .owl-carousel .owl-nav button.owl-prev {
  border: 1px solid #b5976b;
}

.container .owl-carousel .owl-nav button.owl-next {
  background-image: linear-gradient(116deg, rgb(135,115,87) 0%, rgb(205,177,137) 100%);
}
.owl_dots .active{
  & span {
    background-color: $orange;
  }

  & span:after {
    border: 1px solid $orange;
  }
}
.icon.box {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: 0px -202px;
  width: 87px;
  height: 84px;
}
.icon.budget {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -229px -80px;
  width: 89px;
  height: 89px;
}
.icon.calculator {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -433px -155px;
  width: 59px;
  height: 73px;
}
.icon.car {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -168px -202px;
  width: 97px;
  height: 62px;
}
.icon.desktop {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -229px 0px;
  width: 120px;
  height: 80px;
}
.icon.employee {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: 0px -286px;
  width: 62px;
  height: 90px;
}
.icon.file {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -433px -76px;
  width: 59px;
  height: 79px;
}
.icon-left-arrow-orange {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -433px -228px;
  width: 19px;
  height: 14px;
}
.icon.locked {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -433px 0px;
  width: 62px;
  height: 76px;
}
.icon.money {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -125px 0px;
  width: 104px;
  height: 99px;
}
.icon.note {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -62px -286px;
  width: 69px;
  height: 69px;
}
.icon.ruble {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: 0px 0px;
  width: 125px;
  height: 122px;
}
.icon.telemarketer {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -87px -202px;
  width: 81px;
  height: 79px;
}
.icon.thumb-up {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -120px -122px;
  width: 86px;
  height: 76px;
}
.icon.tools {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -349px 0px;
  width: 84px;
  height: 87px;
}
.icon.wallet {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -349px -174px;
  width: 83px;
  height: 83px;
}
.icon.walletfull {
  background-image: url('../resources/images/sprite-orange.png');
  background-position: -349px -87px;
  width: 84px;
  height: 87px;
}
