$red: #df3a00;


.bg-about {
  background-color: #f9f3f1;
}
.btn {

  background-color: $red;
  border: 1px solid $red;
  box-shadow: 0 3px 0 #7c2000, 0 0 49px 10px rgba(223, 58, 0, .3);

  &_submit {
    background-color: $red;
  }
}
.services .slider-next,
.services .slider-prev,
.section-doc .slider-next,
.section-doc .slider-prev {
  border: 1px solid $red;
}
.slider-next {
  background-image: linear-gradient(-120deg, rgb(223,58,0) 0%, rgb(157,41,0) 100%);
}
.slider-prev:before {
  background: url("../resources/images/icons/left-arrow-red.png") no-repeat;
}
.top-slider .slick-dots li.slick-active button::before{
  background-color: $red;
}
.top-slider .slick-dots li.slick-active button::after {
  border-color: $red;
}
.icon_svg {
  fill: $red;
}
