$violet: #770f6e;

.bg-about {
  background-color: #f2edf3;
}
.btn {
  background-image: linear-gradient(-120deg, rgb(188,13,151) 0%, rgb(136,23,152) 100%);
  border: 1px solid $violet;
  box-shadow: 0 0 49px 10px rgba(141, 26, 162, .2),
    0 3px 0 #581165;

  &_submit {
    background-color: $violet;
  }
}
.services .slider-next,
.services .slider-prev,
.section-doc .slider-next,
.section-doc .slider-prev {
  border: 1px solid $violet;
}
.slider-next {
  background-image: linear-gradient(-120deg, rgb(141,14,114) 0%, rgb(94,17,105) 100%);
}
.slider-prev:before {
  background: url("../resources/images/sprite-violet.png")no-repeat;
  background-position: -120px -83px;
}
.top-slider .slick-dots li.slick-active button::before{
  background-color: $violet;
}
.top-slider .slick-dots li.slick-active button::after {
  border-color: $violet;
}

.icon_svg {
  fill: $violet;
}
