$wine: #ba3660;
.bg-about {
  background-color: #f4ecef;
}
.btn {
  background-color: $wine;
  border: 1px solid $wine;
  box-shadow: 0 0 49px 10px rgba(186, 54, 96, .27), 0 3px 0 #75213c;

  &_submit {
    background-color: $wine;
  }
}
.services .slider-next,
.services .slider-prev,
.section-doc .slider-next,
.section-doc .slider-prev {
  border: 1px solid $wine;
}
.slider-next {
  background-image: linear-gradient(-120deg, rgb(186,54,96) 0%, rgb(123,34,63) 100%);
}
.slider-prev .arrow {
  fill: $wine;
}
.top-slider .slick-dots li.slick-active button::before{
  background-color: $wine;
}
.top-slider .slick-dots li.slick-active button::after {
  border-color: $wine;
}
.icon_svg {
  fill: $wine;
}
